<h1 class="current-category"><%= params[:category] %></h1>

<% if @books.empty? %>
  <h1>There are no books currently in this category</h1>
<% else %>

  <div class="row row-centered">
    <% @books.each do |book| %>
      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <%= link_to book do %>
          <%= image_tag book.book_img.url(:book_index), class: 'book img-responsive' %>
        <% end %>
      </div>
    <% end %>
<% end %>
