<h1 class="current-category"><%= params[:category] %></h1>

<% if @books.empty? %>
  <h1>There are no books currently in this category</h1>
<% else %>

  <div class="row">
      <% @books.each_with_index do |book, index| %>
        <div class="col-md-3">
          <%= link_to book do %>
            <%= image_tag book.book_img.url(:book_index), class: 'book' %>
          <% end %>
        </div>
      <% end %>
  </div>

<% end %>
